<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>s4-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,2},{165,241}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,241}}</string>
                <key>sourceSize</key>
                <string>{165,241}</string>
            </dict>
            <key>s4-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{280,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,280}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>s4-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,858},{270,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,202}}</string>
                <key>sourceSize</key>
                <string>{270,202}</string>
            </dict>
            <key>s4-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{280,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,280}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>s4-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{280,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,280}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>s4-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,284},{268,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,268}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>s4-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,272},{268,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,268}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>s4-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,554},{268,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,268}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>s4-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,566},{268,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,290}}</string>
                <key>sourceSize</key>
                <string>{268,290}</string>
            </dict>
            <key>s4-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,542},{268,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,268}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>s4-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,812},{268,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,268}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>s4-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,2},{268,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,285}}</string>
                <key>sourceSize</key>
                <string>{268,285}</string>
            </dict>
            <key>s4-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,824},{185,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,249}}</string>
                <key>sourceSize</key>
                <string>{185,249}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1082}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8de894def5bf83cca5d36bbc9bad6ea4:34b3621ef2f5a1907a65be4ab82c62af:1012b212ba699e96c8bfb6c82c3a9b22$</string>
            <key>textureFileName</key>
            <string>4.pvr.ccz</string>
        </dict>
    </dict>
</plist>
