<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sel2_floor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{208,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,37}}</string>
                <key>sourceSize</key>
                <string>{208,37}</string>
            </dict>
            <key>sel2_name1.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,169},{73,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,23}}</string>
                <key>sourceSize</key>
                <string>{73,23}</string>
            </dict>
            <key>sel2_name2.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,169},{70,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,23}}</string>
                <key>sourceSize</key>
                <string>{70,23}</string>
            </dict>
            <key>sel2_name3.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,144},{74,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,23}}</string>
                <key>sourceSize</key>
                <string>{74,23}</string>
            </dict>
            <key>sel2_name4.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,144},{61,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,23}}</string>
                <key>sourceSize</key>
                <string>{61,23}</string>
            </dict>
            <key>sel2_upper.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{358,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,140}}</string>
                <key>sourceSize</key>
                <string>{358,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sel2_pannels.pvr.ccz</string>
            <key>size</key>
            <string>{362,194}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7f5d9d015bd609c85db5012ce24a7e9a:1aa2dc23aa56b1e9a7b44419218fdf14:d9c6ae6083d655789342ebc10c9bb96f$</string>
            <key>textureFileName</key>
            <string>sel2_pannels.pvr.ccz</string>
        </dict>
    </dict>
</plist>
